.show-references .crossword-square.reference,
.show-references .crossword-clue.reference {
  background-color: #ccf;
}
.crossword-square.highlight,
.crossword-clue.active {
  background-color: #8cf;
}

.crossword-square.active {
  background-color: #1892ef;
}

.show-references .active-clues .reference {
  color: #88c;
}

.show-errors .crossword-square.error .square-fill,
.show-errors .crossword-clue.error {
  color: #a00;
}
