.crossword-instructions {
  display: flex;
}

.crossword-instructions > div {
  flex: 1 1 50%;
}
.crossword-instructions .crossword-instructions-square {
  padding-right: 1em;
}
.crossword-instructions .crossword-instructions-clue {
  padding-left: 1em;
}

.crossword-instructions dt {
  font-weight: bold;
}
.crossword-instructions dd {
  margin-left: 1em;
}
