@media print {

  .crossword-puzzle {
    font-size: 1vw;
  }

  .crossword {
    page-break-before: always;
    page-break-after: always;
  }

  .crossword-grid {
    float: right;
    width: 60%;
    margin-right: 7%;
    margin-top: 2%;
  }

  .square-fill {
    font-size: 2em;
  }

  .crossword-clues {
    font-size: 1.5em;
  }

  .crossword-clues.across {
    width: 25%;
    padding: 0;
    float: left;
  }

  .crossword-clues.down {
    width: 75%;
    float: right;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .crossword-clues input {
    display: none;
  }

  .crossword-clue,
  .crossword-square:not(.black) {
    background-color: transparent !important;
  }

  .crossword-square .numeral {
    font-size: 0.6em;
  }

  .crossword-square .square-fill {
    font-size: 2em;
  }

  .crossword-square.rebus .square-fill {
    font-size: 1em;
  }

  /* Some things don't make sense to print */
  .crossword-clue-change {
    display: none;
  }

  .crossword-controls {
    display: none;
  }

  .active-clues {
    display: none;
  }

}
