<div class="crossword-instructions">
  <div class="crossword-instructions-square">
    <h3>{{ 'Active Square'|t }}</h3>
    <dl>
      <div>
        <dt>{{ 'Arrow keys'|t }}:</dt>
        <dd>{{ 'Move active square'|t }}.</dd>
      </div>
      <div>
        <dt>{{ 'Enter/Return'|t }}:</dt>
        <dd>{{ 'Next square'|t }}.</dd>
      </div>
      <div>
        <dt>{{ 'Backspace/Delete'|t }}:</dt>
        <dd>{{ 'Delete input from active square and move to previous square'|t }}.</dd>
      </div>
      {% if cheat %}
        <div>
          <dt>Ctrl + C:</dt>
          <dd>{{ 'Cheat on letter'|t }}.</dd>
        </div>
      {% endif %}
      {% if rebus %}
        <div>
          <dt>Ctrl + R:</dt>
          <dd>{{ 'Toggle rebus entry'|t }}.</dd>
        </div>
      {% endif %}
      {% if errors %}
        <div>
          <dt>Ctrl + E:</dt>
          <dd>{{ 'Toggle errors'|t }}.</dd>
        </div>
      {% endif %}
    </dl>
  </div>
  <div class="crossword-instructions-clue">
    <h3>{{ 'Active Clue'|t }}</h3>
    <dl>
      <div>
        <dt>Tab:</dt>
        <dd>{{ 'Next clue'|t }}.</dd>
      </div>
      <div>
        <dt>Shift + Tab:</dt>
        <dd>{{ 'Previous clue'|t }}.</dd>
      </div>
      <div>
        <dt>{{ 'Shift + Right Arrow'|t }}:</dt>
        <dd>{{ 'Next unsolved clue'|t }}.</dd>
      </div>
      <div>
        <dt>{{ 'Shift + Left Arrow'|t }}:</dt>
        <dd>{{ 'Previous unsolved clue'|t }}.</dd>
      </div>
      <div>
        <dt>{{ 'Spacebar'|t }}:</dt>
        <dd>{{ 'Toggle direction'|t }}.</dd>
      </div>
      <div>
        <dt>{{ 'Escape'|t }}:</dt>
        <dd>{{ 'Escape puzzle'|t }}.</dd>
      </div>
    </dl>
  </div>
</div>
