{#
/**
 * @file
 * default theme implementation to display a active clues header.
 *
 * Available variables:
 * - congrats: Plain text congratulations message.
 * - field_formatter: Machine name of field formatter.
 */
#}
<div class="clues-and-congrats">
  <div id="active-clues" class="active-clues">
    <style>
      .active-clues .across .numeral:after {
        content: "{% trans with {'context': 'crossword direction short'} %}A{% endtrans %}";
      }
      .active-clues .down .numeral:after {
        content: "{% trans with {'context': 'crossword direction short'} %}D{% endtrans %}";
      }
    </style>
    <div class="active-clues-text">{# This gets populated by js #}</div>
    <div class="express-buttons">
      <button class="prev-clue-express clue-express" id="prev-clue-express" title="{% trans %}Previous unsolved clue{% endtrans %}"></button>
      <button class="next-clue-express clue-express" id="next-clue-express" title="{% trans %}Next unsolved clue{% endtrans %}"></button>
    </div>
  </div>
  {% if congrats %}
    <div class="crossword-congrats">{{ congrats }}</div>
  {% endif %}
</div>
