{#
/**
 * @file
 * default theme implementation to display a set of clues.
 *
 * Available variables:
 * - content : All of the clues in this set
 * - direction: 'across' or 'down'
 * - direction_label: Translatable direction label.
 * - attributes : HTML attributes for the containing element.
 * - field_formatter: Machine name of field formatter.
 */
#}
<div{{ attributes.addClass('crossword-clues') }}>
  {% if direction %}
    <div class="crossword-clues-header">
      <button class="crossword-clue-change prev" title="{% trans %}Prev clue{% endtrans %}" data-dir="{{ direction }}" data-clue-change="-1"></button>
      <button class="crossword-dir-change" data-dir="{{ direction }}">{{ direction_label }}</button>
      <button class="crossword-clue-change next" title="{% trans %}Next clue{% endtrans %}" data-dir="{{ direction }}" data-clue-change="1"></button>
    </div>
  {% endif %}
  <h2 class="clues-heading" hidden aria-hidden="false">{{ direction_label }}</h2>
  <ul>
    {{ content }}
  </ul>
</div>
