{#
/**
 * @file
 * default theme implementation to display crossword controls.
 *
 * Available variables:
 * - content : all available controls which may include:\
 *   - clues: Control showing/hding clues.
 *   - errors : Control for showing/hiding errors
 *   - references : Control for showing/hiding referenced clues.
 *   - cheat : Control to cheat on the current square.
 *   - solution : Control to reveal entire solution.
 *   - clear : Control to clear all text from the grid.
 *   - undo : Control to undo recent moves.
 *   - redo : Control to redo recent moves.
 *   - instructions : Button to show/hide instructions.
 *   - instructions_details: The actual instructions, not just the button.
 * - field_formatter: Machine name of field formatter.
 */
#}
<div class="crossword-controls">
  {% if content.clues is not empty or content.errors is not empty or content.references is not empty or content.rebus is not empty %}
    <div class="crossword-options">
      {{ content.clues }}
      {{ content.errors }}
      {{ content.references }}
      {{ content.rebus }}
    </div>
  {% endif %}
  {% if content.cheat is not empty or content.solution is not empty or content.clear is not empty or content.undo is not empty or content.redo is not empty%}
    <div class="crossword-buttons">
      {% if content.cheat is not empty or content.solution is not empty or content.clear is not empty %}
        <div class="solution-buttons">
          {{ content.cheat }}
          {{ content.solution }}
          {{ content.clear }}
        </div>
      {% endif %}
      {% if content.undo is not empty or content.redo is not empty or content.instructions is not empty %}
        <div class="undo-redo">
          {{ content.undo }}
          {{ content.redo }}
          {{ content.instructions }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% if content.instructions_details is not empty %}
  <div class="crossword-instructions-container" aria-hidden="false">
    {{ content.instructions_details }}
  </div>
{% endif %}
