{#
/**
 * @file
 * default theme implementation to display a grid.
 *
 * Available variables:
 * - content : All of the grid rows
 * - attributes : Classes, etc.
 * - field_formatter: Machine name of field formatter.
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
