{#
/**
 * @file
 * default theme implementation to display a crossword clue.
 *
 * Available variables:
 * - numeral : The number that should appear with the clue.
 * - text : The text of the clue.
 * - direction: 'across' or 'down'
 * - direction_label: Translatable direction label.
 * - attributes : HTML attributes for the containing element.
 * - field_formatter: Machine name of field formatter.
 */
#}
<li{{ attributes.addClass('crossword-clue') }}>
  <span class="numeral">{{ numeral }}</span> {{ text }}
</li>
